@model eShopSolution.ViewModels.Catelog.Categories.CategoryDeleteRequest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Xóa thư mục</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Product">Danh sách thư mục</a></li>
        <li class="breadcrumb-item active">Xóa thư mục</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Category">
                Danh sách thư mục
            </a>
        </div>
        <div class="card-body">
            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.id)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>

